global
    maxconn 4096
    log /dev/null local0

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s
    hold valid      10s

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option http-keep-alive

frontend rinha_front
    bind *:9999
    default_backend rinha_back

backend rinha_back
    balance roundrobin
    option http-keep-alive
    server api1 api1:9999 resolvers docker init-addr none
    server api2 api2:9999 resolvers docker init-addr none
